
*{
    padding: 0%;
    margin: 0%;
}
.nav{
    padding-left: 5%;
    
}
.pro{
    margin: 20px 40px;
    padding:10px 15px ;
    font-weight: bold;
    background-color: darkblue;
    border-radius: 10%;
}
.nav,li,ul{
    display: inline block;
    margin: 0px 10px;
    list-style: none;
    flex: 1px;
    padding-left: 1px;
    display: flex;
    gap: 200px;
}

.form{
    width: 500px;
    height:300px;
    background-image: url(sicily-dining-chair-black.jpg);
 }
img{
    width: 300px;
    height: 200px;
    background-size: cover;
}
.form1{
    width: 400px;
    height:200px;
}
.form2{
    width: 400px;
    height: 200px;
}
.chari{
    display: flex;
}
.fun{
    display: flex;
    }
    .cont{
        
        color: aliceblue;
        font-size: 30px;
        background-color: black;
        }
    
    .heading{
        font-weight: 10px;
        color: aliceblue;
        padding-left: 400px;
    }
    .cont2{
        display: flex;
        height: 600px;
        width: 500px;
        margin-left: 20%;
        margin-top: 150px;
       }
       .fun5 img{
        height: 400px;
        width: 500px;
        }
        .sat8 img{
            display: flex;
        }
        .cont4{
            display: flex;
        }
        .magazine{
        text-align: center;
        margin-left: 12%;
        }
        .fun8 img{
            height: 400px;
            width:600px;

        }
        .fom{
            display: flex;
            justify-self: space-between;
            color: antiquewhite;
            background-color: black;
           }
           .main{
            text-align: center;
            padding: 15px;
            
            
           }
        
        .ul,li{
            background-color: black;
            color: rgb(241, 232, 232);
           display: flex;
           padding: 15px;
           
            }
           
                


       
        
    
       
    
    








    
     

